@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
.nav-image {
  object-fit: fill;
  height: 100%;
}

.header {
  position: absolute;
  display: flex;
  font-weight: bold;
  font-size: xx-large;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 20px;
  color: white;
  width: 100%;
}

.search-input {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 80px;
  width: 40vw;
  height: 60px;
  border-radius: 20px;
  padding: 1.5rem;
  color: black;
  font-size: large;
  outline: none;
}

.details {
  position: absolute;
  padding: 1.5rem;
  background-color: white;
  top: 15vw;
  left: 18vw;
  height: 120px;
  width: 65vw;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: grid;
  display: flex;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 7px;
  grid-row-gap: 0px;
}

.ip-add {
  flex: 25%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  margin: 20px;
  border-right: 2px solid rgba(0, 0, 0, 0.315);
  margin-right: -3px;
}
.location {
  flex: 25%;
  display: flex;
  flex-direction: column;
  margin: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-right: 2px solid rgba(0, 0, 0, 0.315);
  margin-right: -3px;
}

.time-zone {
  flex: 25%;
  display: flex;
  flex-direction: column;
  margin: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-right: 2px solid rgba(0, 0, 0, 0.315);
  margin-right: -3px;
}

.isp {
  flex: 25%;
  display: flex;
  flex-direction: column;
  margin: 20px;
  justify-content: center;
  align-items: center;
  height: 100%;
}
